<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">


	<!-- Processes application requests -->
	<display-name>PowerCalc</display-name>

	<!-- Allows use of Java-based Spring configuration. Searches for @Configuration classes. -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>no.jascorp.powercalc.springconfig.AppConfig</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Starts the application configuration -->
	<servlet>
		<servlet-name>powercalc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- Allows use of Java-based Spring configuration. Searches for @Configuration classes. -->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>no.jascorp.powercalc.springconfig.WebConfig</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>powercalc</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>


<!-- 	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
 -->	
<!-- 	<error-page>
    	<error-code>403</error-code>
        <location>/errorcode.jsp</location>
    </error-page>
    
    <error-page>
		<error-code>400</error-code>
		<location>/errorcode.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errorcode.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorcode.jsp</location>
	</error-page>
 -->
 </web-app>
