<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="myeclipse.connection.profile">hsqldb</property>
		<!--
		<property name="connection.url"> jdbc:hsqldb:mem:powercalc 
			</property>
		-->
		<!--<property name="connection.url">jdbc:hsqldb:hsql://localhost</property>-->
		<property name="connection.url">jdbc:hsqldb:mem:dataSource</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">
			org.hsqldb.jdbcDriver</property>
		<property name="dialect"> org.hibernate.dialect.HSQLDialect 
			</property>
		<property name="hibernate.format_sql">true</property>
		<!--<property name="hibernate.hbm2ddl.auto">update</property>-->

		<mapping class="no.jascorp.powercalc.domain.maaleavlesning.Maaleavlesning" />
		<mapping class="no.jascorp.powercalc.domain.regning.Regning" />
		<mapping class="no.jascorp.powercalc.domain.regning.RegningLinje" />

	</session-factory>

</hibernate-configuration>